body {
    background-image: radial-gradient(ellipse farthest-corner at center, #e2f8fb 0%, #dcedf2 200%);
}

.form-control {
    /*background-color: #ACACAC !important;*/
    -webkit-box-shadow: inset 1px 1px 10px 1px #dcedf2;
    box-shadow: inset 1px 1px 10px 1px #dcedf2;
}

select, input {
    color: black;
}

.paginate_disabled_previous, .paginate_disabled_next {
    color: #818080 !important;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    color: #F5F5F5 !important;
}

table thead tr th, table tbody tr td {
    text-align: center;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFFFFF;
    opacity: 1;
}

.well {
    background-color: #fBfBfB;
}





/*Menu Nome */
/*.navbar-default .navbar-brand {
    color: #003CA3;
}*/
/*Menu Itens */
/*.navbar-default .navbar-nav > li > a {
    color: #003ca3;
}*/
